.button {
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1),
    inset 0 0px 0px 0 rgb(0 0 0 / 0.05);
  transition: box-shadow 200ms;
}

.buttonActive {
  box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0.1), 0 0px 0px 0px rgb(0 0 0 / 0.1),
    inset 0 2px 4px 0 rgba(0 0 0 / 0.03), inset 0 -2px 4px 0 rgb(0 0 0 / 0.03);
}
