.button {
  cursor: pointer;
  border-radius: 4px;
  padding: 0.8em 1em;
  transition: all 0.2s ease-in-out;
  box-shadow: 2px 2px 2px #d7dade, -2px -2px 2px #ffffff,
    inset 0px 0px 0px rgba(255, 255, 255, 0.7),
    inset 0px 0px 0px rgba(255, 255, 255, 0.5);
}

.button:hover {
  border-radius: 6px;
}

.button.active {
  background: transparent;
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.7),
    0px 0px 0px rgba(255, 255, 255, 0.5), inset 2px 2px 2px #d7dade,
    inset -2px -2px 2px #ffffff;
}
