@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #7c98cd;
  --secondary-color: #bbd3f0;
  --primary-text-color: #444;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

html,
body {
  height: 100%;
  font-weight: 400;
  overscroll-behavior-x: none;
}

body {
  margin: 0;
  max-width: 100%;
  color: #444 !important;
  overscroll-behavior-x: none;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.separator {
  width: 70%;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #444;
}

/* scroll bar styles */

/* Scrollbar Styling */
.scroll-bar::-webkit-scrollbar {
  width: 10px;
}

.scroll-bar::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  background-color: transparent;
  padding: 30px 3px;
  border-radius: 10px;
}

.scroll-bar::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border: 2px solid #ebebeb;
  background: rgb(112, 112, 112);
}

h1 {
  font-weight: 900;
  font-size: medium;
}

h2 {
  font-weight: 700;
  font-size: medium;
}

.spin {
  transition: transform 2s;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.popped {
  cursor: pointer;
  border-radius: 4px;
  padding: 0.8em 1em;
  transition: all 0.2s ease-in-out;
  box-shadow: 2px 2px 2px #d7dade, -2px -2px 2px #ffffff, inset 0px 0px 0px rgba(255, 255, 255, 0.7),
    inset 0px 0px 0px rgba(255, 255, 255, 0.5);
}

.cave {
  background: transparent;
  color: rgb(33, 33, 33);
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.7), 0px 0px 0px rgba(255, 255, 255, 0.5),
    inset 2px 2px 2px #d7dade, inset -2px -2px 2px #ffffff;
}

.disabled {
  background: transparent;
  color: rgb(171, 171, 171);
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.7), 0px 0px 0px rgba(255, 255, 255, 0.5),
    inset 0px 0px 0px #d7dade, inset -0px -0px 0px #ffffff;
}
