@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #7c98cd;
  --secondary-color: #bbd3f0;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

html,
body {
  height: 100%;
  font-weight: 400;
  overscroll-behavior-x: none;
}

body {
  overscroll-behavior-x: none;
}

/* scroll bar styles */

/* Scrollbar Styling */
.scroll-bar::-webkit-scrollbar {
  width: 10px;
}

.scroll-bar::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  background-color: transparent;
  padding: 30px 3px;
  border-radius: 10px;
}

.scroll-bar::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border: 2px solid #ebebeb;
  background: rgb(112, 112, 112);
}

h1 {
  font-weight: 900;
  font-size: medium;
}

h2 {
  font-weight: 700;
  font-size: medium;
}