@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #7C98CD;
  --secondary-color: #BBD3F0;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

html, body {
  height: 100%;
  overscroll-behavior-x: none;
}

body {
  overscroll-behavior-x: none;
}
