.markdown html {
  font-size: 18px;
  max-width: 100%;
}

body {
  color: #444;
  font-family: "Merriweather", Georgia, serif;
  margin: 0;
  max-width: 100%;
}

p {
  color: #555;
  height: auto;
  line-height: 1.5rem;
}

.markdown div {
  width: 100%;
}

.markdown p .markdown img {
  width: 100%;
}

.markdow.blockquote .markdown p {
  font-size: 1.5rem;
  font-style: italic;
  margin: 1rem auto 1rem;
  max-width: 48rem;
}

li {
  margin-left: 2rem;
}

/* Counteract the specificity of the gross *:not() chain. */

.separator {
  width: 70%;
  height: 2px;
  margin: 2em auto 0em auto;
  display: block;
  background-color: #444;
}

.markdown h1 {
  padding: 0.7rem 0 !important;
  font-weight: 900;
  font-size: medium;
}

.markdown h2 {
  padding: 0.7rem 0 !important;
  font-weight: 700;
  font-size: medium;
}

.markdown p ~ p {
  margin: 0.4em 0em;
}


.markdow.pre,
.markdow.code {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

.markdown pre {
  background-color: #fafafa;
  font-size: 0.8rem;
  overflow-x: scroll;
  padding: 1.125em;
}

.markdown a,
.markdown a:visited {
  color: #3498db;
}

.markdown a:hover,
.markdown a:focus,
.markdown a:active {
  color: #2980b9;
}
